:root {
    --device-border-color: hsl(0, 0%, 50%);
    --device-list-stripe-color: hsl(0, 0%, 24%);
    --device-list-default-color: hsl(0, 0%, 22%);
    --device-list-hover-color: hsl(0, 0%, 28%);
    --text-color: hsl(0, 0%, 80%);
    --text-color-light: hsl(0, 0%, 60%);
    --link-color: hsl(26, 100%, 55%);
    --link-color-light: hsl(26, 100%, 65%);
    --link-color_visited: hsl(26, 100%, 45%);
    --link-color_visited-light: hsl(26, 100%, 55%);
    --button-text-color: hsl(0, 0%, 90%);
    --button-border-color: hsl(0, 0%, 50%);
    --button-bg-color: hsl(0, 0%, 28%);
    --button-bg-hover-color: hsl(0, 0%, 33%);
    --button-fill: hsl(0, 0%, 100%);
    --kill-button-hover-color: hsl(0, 80%, 60%);
    --font-size: 14px;
}

body.list {
    height: auto;
    width: auto;
    overflow: auto;
}

#devices {
    padding: 20px 0;
    overflow-y: auto;
}

body.stream #devices {
    display: inline-block;
}

body.list #device_list_menu {
    display: none;
}

#device_list_menu {
    display: block;
}

#devices .device-list button {
    font-size: var(--font-size);
    color: var(--button-text-color);
}

#devices .device-list div.device:nth-child(2n+1){
}

#devices .device-list div.device:nth-child(2n){
}

#devices .device-stats {
    padding: 2px 0;
}

#devices .device-stats div {
}

#devices .device-property {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 12px;
}

#devices .device-property .device-value  {
    font-weight: bold;
    padding-left: 4px;
}

#devices .device-model {
    font-size: 110%;
}

#devices .device-serial {
    color: var(--url-color);
    font-size: 80%;
    margin-left: 6px;
}

#devices .device-version {
    font-size: 100%;
    margin-left: 6px;
    align-items: baseline;
}

#devices .device-version .sdk-version {
    font-size: 75%;
    color: var(--url-color);
    margin-left: 0.2em;
}

#devices .device-state {
    display: inline-block;
    border-radius: 25px;
    background-color: red;
    font-size: 80%;
    margin-left: 6px;
    width: 1em;
    height: 1em;
}

#devices .device.active .device-state {
    background-color: green;
}

#devices .device-list {
    margin-left: 64px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--device-list-default-color);
    border: 1px solid var(--device-border-color);
    border-spacing: 0;
    border-collapse: collapse;
    font-family: monospace;
    font-size: var(--font-size);
    border-radius: 5px;
}


#devices .device-list div.device {
    padding: 5px 20px 5px;
}


#devices .device-list a.desc-block {
    margin-top: .6em;
    margin-bottom: .6em;
    padding: 10px 20px;
    background-color: linear-gradient(145deg, var(--button-bg-color), hsl(0, 0%, 26%));
    color: var(--button-text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--button-border-color);
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    display: block;
    box-sizing: border-box;
}

#devices .device-list a.desc-block:hover {
    background: linear-gradient(145deg, hsl(0, 0%, 28%), var(--button-bg-hover-color));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

#devices .device-list .button-label {
    display: flex;
    align-items: center;
}

#devices .device-list button.desc-block {
    margin-top: .6em;
    margin-bottom: .6em;
    width: 100%;
    padding: 10px 20px;
    background-color: linear-gradient(145deg, var(--button-bg-color), hsl(0, 0%, 26%));
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    display: block;
}

#devices .device-list button.desc-block:hover {
    background: linear-gradient(145deg, hsl(0, 0%, 28%), var(--button-bg-hover-color));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}


#devices .device-list select.desc-block {
    margin-top: .6em;
    margin-bottom: .6em;
    flex-grow: 1;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#devices .device-list select.desc-block:hover {
    background-color: var(--button-bg-hover-color);
}



#devices .device-list div.desc-block.hidden {
    display: none;
}

#devices .device-sub-header {
    font-weight: bold;
    font-size: 110%;
    padding-top: 12px;
    padding-bottom: 12px;
}

#devices .device-list div.desc-block.stream,
#devices .device-list div.desc-block.server_pid,
#devices .device-list div.desc-block.net_interface {
    border: 1px solid var(--device-border-color);
    border-radius: .3em;
    overflow: hidden;
}


#devices .device-list div.desc-block button {
    fill: var(--text-color)
}

#devices .device-list div.desc-block button > span {
    padding: 0 .5em;
}

#devices .device-list div.desc-block button > span,
#devices .device-list div.desc-block button > svg {
    vertical-align: middle;
}

#devices .device-list div.desc-block button > svg {
    width: var(--font-size);
    height: var(--font-size);
}

#devices .device-list div.desc-block button > svg > path {
    fill: var(--text-color);
}

#devices .device-list .device.not-active div.desc-block button > svg > path {
    fill: var(--text-color-light);
}

#devices .device-list .device.not-active select {
    color: var(--text-color-light);
}

#devices .device-list .device.not-active {
    color: var(--text-color-light);
}

#devices .device-list .device.not-active a {
    color: var(--link-color-light);
}

#devices .device-list .device.not-active a:visited {
    color: var(--link-color_visited-light);
}

#devices .device-list .device.active div.desc-block button.action-button:hover > svg > path {
    fill: var(--kill-button-hover-color);
}

#devices .tracker-name {
    padding: 5px 20px 5px;
    font-size: larger;
    font-weight: bolder;
}

#devices .full-line {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
    height: 0;
    padding-bottom: 12px;
}

#devices .half-line {
    border: none;
    border-top: 1px solid #ccc;
    width: 50%;
    margin: 0;
    height: 0;
    padding-bottom: 12px;
}

#devices .device-information {
    margin-top: 8px;
}
