body {
    background-color: #f0f0f0;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.flex {
    display: flex;
    flex-flow: column;
}

:focus {
    outline: none;
}

#controls {
    width: 100%;
    margin: 20px;
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}

.buttons-wrapper {
    max-height: 5%;
}

.filter-button {
    font-family: monospace;
    border: solid 1px black;
    width: auto;
    display: inline-block;
    border-radius: 1em;
    margin: 2px;
    padding: 2px 5px;
}

.filter-button:hover {
    border-width: 2px;
    border-style: dotted;
    padding: 1px 4px;
    cursor: pointer;
}

.client-filter {
    border-color: hsl(120, 33%, 50%);
}

#filterInput {
    margin: 0 5px;
}

pre.might-overflow {
    text-overflow: ellipsis;
    overflow : hidden;
    white-space: nowrap;
    margin: 0.5em 0;
    padding: 0;
}

pre.might-overflow:hover {
    text-overflow: clip;
    word-break: break-all;
    overflow-x: visible;
    white-space: pre;
    margin: 0;
    padding: 0.5em 0;
}

.table-wrapper {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
}

.table-wrapper table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: monospace;
}

.table-wrapper table thead {
    font-weight: bolder;
}

.table-wrapper table td, .table-wrapper table th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.table-wrapper table tr:hover {
    background-color: hsl(110, 14%, 53%);
}

.table-wrapper table th {
    position: sticky;
    top: -1px;
    background-color: hsl(210, 14%, 53%);
}

.table-wrapper table .date {
    white-space: nowrap;
    width: 7%;
}

.table-wrapper table .pid, .table-wrapper table .tid  {
    width: 5%;
}

.table-wrapper table .p {
    width: 3%;
}

.table-wrapper table .tag {
    max-width: 20em;
    width: 10%;
}

.table-wrapper table .message {
    width: 70%;
    text-overflow: ellipsis;
    white-space: pre;
    max-width: 0;
    overflow: hidden;
}

#controlsWrap {
    float: left;
    position: relative;
    top: 0;
}

.decoder-controls-wrapper {
    padding: 10px;
    border: solid 1px hsl(210, 14%, 53%);
}

.device-view {
    float: right;
}

.video-layer {
    position: absolute;
    z-index: 0;
}

.touch-layer {
    position: absolute;
    z-index: 1;
}

.video {
    float: right;
    max-height: 100%;
    max-width: 100%;
    background-color: #000000;
}

.spoiler > input ~ .box {
    display: none;
}

.spoiler > input:checked ~ .box {
    display: block;
}

.spoiler > label::before {
    content: '►';
    margin-right: 5px;
}

.spoiler > input:checked ~ label::before {
    content: '▼';
}

.spoiler > input:checked ~ div {
    display: block;
    padding: 10px;
}

.spoiler > input {
    display: none;
}

.control-buttons-list {
    float: right;
    width: 52px;
}

.control-button {
    margin: 5px 11px;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('icons.png');
    opacity: 0.75;
}

.control-button:hover {
    opacity: 1;
}

.control-button.menu {
    background-position: 0 0;
}

.control-button.app-switch {
    background-position: -30px 0;
}

.control-button.home {
    background-position: -60px 0;
}

.control-button.back {
    background-position: -90px 0;
}

.control-button.zoom {
    background-position: 0 -30px;
}

.control-button.screen-shot {
    background-position: -30px -30px;
}

.control-button.rotate-clockwise {
    background-position: -60px -30px;
}

.control-button.rotate-counter-clockwise {
    background-position: -90px -30px;
}

.control-button.volume-down {
    background-position: 0 -60px;
}

.control-button.volume-up {
    background-position: -30px -60px;
}

.control-button.power {
    background-position: -60px -60px;
}
